<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、
        <%# current_userで現在ログインしているユーザーの情報を取得 %>
        <%= link_to "#{current_user.name}さん", user_path(current_user), class: :greeting__link %>
      </div>
    <% end %>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示 %>
      <%# collectionオプションを使い@prototypesに含まれる複数の要素の数だけ繰り返し表示 %>
      <%= render partial: 'prototype', collection: @prototypes %>
    </div>
  </div>
</main>
